/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-07-2018, 3:34:33
    Author     : dell
*/

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number]{-moz-appearance:textfield;}

.lock{
	cursor: not-allowed;
	pointer-events:none;
    color:#AAA;
    background:#F5F5F5;
}

#tablaColumnas td{
	padding: .35rem;
}
